*{
    box-sizing: border-box;
}
html, body{
    margin: 0px;
    height: 100%;
    background-color: #1e555c;
}
.container-fluid{
    background-color: #1e555c;
    height: 100%;
    
}
.fa-arrow-up:before {
    content: "\f063";
}
#title{
    text-align: center;
    font-family: digital;
}
.upper-wrapper{
    display: flex;
    width: 80%;
    justify-content: space-between;
    text-align: center;
    margin: auto;
}

.wrapper{
    width: 400px;
    margin: 70px auto;
    color: white;
}
#session-container{
    width: 240px;
    height: 160px;
    border: 5px solid #13353a;
    text-align: center;
    border-radius: 20px;
    margin: 20px auto 10px auto;
    padding: 7px;
    
}

#time-left{
    font-weight: 500;
    font-size: 80px;
    font-family: digital;
}
#timer-label{
    font-family: digital;
    font-weight: 200;
    font-size: 30px;
}
.lower-wrapper{
    display: flex;
    justify-content: center;
    margin-top: 7px;
}
#break-length,#session-length{
    
    display: inline-block;
    font-size: 20px;
    font-weight: 400;
    width: 40px;
    vertical-align: middle;
   
}
#break-increment,#break-decrement,#session-increment,#session-decrement {
    background-color: #1e555c;
    border: none;
    box-shadow: 1px 2px 2px 1px #0a0e12;
    color: white;
    width: 30px;
    height: 30px;
    padding: 0px;
    font-size: 20px;
    cursor: pointer;
    font-weight:bolder;
   
}
.sign:hover{
    background-color:#357c85 !important;
}
#start_stop, #reset{
    margin: 6px;
}
#author{
    width: 200px;
    background-color:wheat;
    color: black;
    margin: auto;
    height: 70px;
    border:2px solid black;
    padding-bottom: 3px;
    
    
}
h5 ,h6 {
    height:1;
    margin: 2px 10px;
}